# Clock Test

IO_LOC  "clk27" 52;
IO_PORT "clk27"     IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "nCSync" 38;
IO_PORT "nCSync"	DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "nVSync" 37;
IO_PORT "nVSync"	DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "R" 77;
IO_PORT "R"         IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "G" 76;
IO_PORT "G"         IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "B" 48;
IO_PORT "B"         IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "btn1" 3;
IO_PORT "btn1" IO_TYPE=LVCMOS18;

IO_LOC  "btn2" 4;
IO_PORT "btn2" IO_TYPE=LVCMOS18;

IO_LOC "led[0]" 10;
IO_LOC "led[1]" 11;
IO_LOC "led[2]" 13;
IO_LOC "led[3]" 14;
IO_LOC "led[4]" 15;
IO_LOC "led[5]" 16;

IO_LOC "ps2_clk" 25;
IO_PORT "ps2_clk" IO_TYPE=LVCMOS33;
IO_LOC "ps2_data" 26;
IO_PORT "ps2_data" IO_TYPE=LVCMOS33;